<template>
  <v-container>
    <v-banner single-line sticky>
      <div>
        <v-icon x-large>mdi-file-excel</v-icon>
        {{ name }}
      </div>
      <template v-slot:actions>
        <v-btn class="remove-button" raised @click="removeFile">Remove File</v-btn>
      </template>
    </v-banner>
  </v-container>
</template>

<script>
export default {
  name: "Banner",
  props: {
    name: String
  },
  methods: {
    removeFile() {
      this.$emit('removeFile');
    }
  }
}
</script>

<style scoped>
.remove-button {
  background-color: #f26d50 !important;
}
</style>