<template>
  <v-container>
    <Banner :name="file.name" @removeFile="removeFile"/>
    <v-row justify="center">
      <Dashboard :groups="groups" @add-new-group="addNewGroup"/>
    </v-row>
    <v-divider class="mt-3"></v-divider>
    <GroupList :groups="groups" @remove-member="deleteMember" @delete-group="deleteGroup"
               @add-new-participant="submitNewParticipant"/>
    <v-divider class="mt-3"></v-divider>
  </v-container>
</template>

<script>
import Banner from "@/components/file-converter/Banner";
import GroupList from "@/components/file-converter/Groups/GroupList";
import Dashboard from "@/components/file-converter/Dashboard/Dashboard";

export default {
  name: "FileConverter",
  components: {
    Banner,
    GroupList,
    Dashboard
  },
  props: {
    file: {
      name: String,
      content: []
    }
  },
  data: () => ({
    groups: [],
  }),
  provide: {
    zoomMember: [],
  },
  methods: {
    removeFile() {
      this.$emit('removeFile');
    },
    deleteMember(obj) {
      this.groups.find(group => group.id === obj.id).members.splice(obj.index, 1);
    },
    submitNewParticipant(participant, role, id) {
      this.groups
          .find(group => group.id === id)
          .members.push({
        role: role,
        firstName: participant.firstName === '' ? participant.email.split('@')[0] : participant.firstName,
        lastName: participant.lastName,
        email: participant.email
      });
    },
    addNewGroup(name) {
      this.groups.push({
        id: `${Math.floor(Math.random() * 4)}`,
        name: name,
        members: []
      });
    },
    deleteGroup(id) {
      this.groups = this.groups.filter(group => group.id !== id);
    }
  },
  mounted() {
    const tempLines = this.file.content.split('\n');
    let lines = [];
    for (let i = 0; i < tempLines.length; i++) {

      if (tempLines[i].length > 100) {
        lines.push(tempLines[i]);
      } else {
        lines.push(tempLines[i] + ' ' + tempLines[i + 1]);
        i += 1;
      }
    }

    for (let i = 1; i < lines.length - 1; i++) {
      let moodleGroup = {};
      const lineContent = lines[i].split(',');
      moodleGroup.id = lineContent[0].replaceAll("\"", " ").trim();
      moodleGroup.name = lineContent[1].replaceAll("\"", " ").trim();
      moodleGroup.size = parseInt(lineContent[2].replaceAll("\"", " ").trim());
      moodleGroup.description = (lineContent[3]).replaceAll("\"", " ").trim();
      moodleGroup.members = [];

      for (let j = 0; j < moodleGroup.size; j++) {
        const indexSprung = j * 5;
        const member = {};
        member.username = lineContent[8 + indexSprung].replaceAll("\"", " ").trim();
        member.firstName = lineContent[10 + indexSprung].replaceAll("\"", " ").trim();
        member.lastName = lineContent[11 + indexSprung].replaceAll("\"", " ").trim();
        member.email = lineContent[12 + indexSprung].replaceAll("\"", " ").trim();
        moodleGroup.members.push(member);
      }
      this.groups.push(moodleGroup);
    }
    this.groups = this.groups.filter(group => !group.size < 1);
  }
}

</script>

<style scoped>

</style>