<template>
  <v-container fluid mt-10 mx-auto style="width: 80%; min-width: 60rem">
    <vue-dropzone id="dropzone"
                  ref="csvDropzone"
                  :options="dropzoneOptions"
                  :useCustomSlot="true"
                  style="border-radius: 3rem"
                  @vdropzone-error="handleError"
                  @vdropzone-success="success"
    >
      <v-container>
        <v-layout align-center column justify-center>
          <v-img alt="upload" max-width="150" src="../assets/upload_to_cloud.png"></v-img>
          <h3>Drag und Drop CSV Datei hier</h3>
          <p>oder klicke und wähle eine Datei von deinem Computer</p>
        </v-layout>
      </v-container>
    </vue-dropzone>
  </v-container>
</template>

<script>
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'

export default {
  name: "DropZone",
  components: {
    vueDropzone: vue2Dropzone
  },
  data: () => ({
    dropzoneOptions: {
      url: 'https://httpbin.org/post',
      maxFiles: 1,
      addRemoveLinks: false,
      autoProcessQueue: true,
      acceptedFiles: '.csv',
      thumbnailHeight: 150,
      thumbnailWidth: 150
    }
  }),
  methods: {
    handleError(file, message) {
      if (file.status === 'error') {
        alert(message);
        this.$refs.csvDropzone.removeAllFiles();
      }
    },
    success(file, response) {
      this.$emit('uploadSuccess', {name: file.name, file: response.files.file});
    }
  },
  mounted() {
    this.$refs.csvDropzone.removeAllFiles();
  }
}
</script>

<style scoped>

</style>