<template>
  <v-footer dark padless>
    <v-card
        class="flex"
        flat
        tile
    >
      <v-card-text class="py-2 white--text text-center">
        <strong>&copy; Niko Jochim & Tim Herbst</strong>
      </v-card-text>
    </v-card>
  </v-footer>
</template>

<script>
export default {
  name: "Footer"
}
</script>

<style scoped>

</style>