<template>
  <v-app-bar app class="toolbar" dark prominent>
    <img alt="hft-logo" src="../assets/img.png" width="200"/>
    <v-app-bar-title class="d-flex align-baseline mb-1"><h1>Zoom Breakout Converter</h1></v-app-bar-title>
    <v-spacer></v-spacer>
    <img alt="portrait" src="../assets/portraits.png" width="200">
  </v-app-bar>
</template>

<script>
export default {
  name: "Toolbar"
}
</script>

<style scoped>
.toolbar {
  background-color: #f72d49 !important;
}
</style>