<template>
  <div class="text-center">
    <v-dialog
        v-model="dialog"
        width="500"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn v-bind="attrs" v-on="on" class="add-button ma-2">
          Gruppe hinzufügen
        </v-btn>
      </template>

      <v-card>
        <v-card-title class="headline">
          Gruppe hinzufügen
        </v-card-title>
        <v-divider></v-divider>

        <v-form v-model="valid">
          <v-container>
            <v-text-field v-model="name" :rules="nameRules" class="mx-10" label="Name"
                          value="Breakout-Room"></v-text-field>
          </v-container>
        </v-form>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="add-button" @click="dialog = false">abbrechen</v-btn>
          <v-btn :disabled="!valid" class="add-button" @click="submit">hinzufügen</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "AddGroupDialog",
  data: () => ({
    dialog: false,
    valid: false,
    name: '',
    nameRules: [v => !!v || 'Name wird benötigt']
  }),
  methods: {
    submit() {
      this.$emit('add-new-group', this.name)
      this.dialog = false;
    }
  }
}
</script>

<style scoped>
.add-button {
  background-color: #3e9cbf !important;
  color: white;
}
</style>
