<template>
  <v-container class="mt-10 mb-3">
    <div class="d-flex flex-row justify-start align-center">
      <h2 class="mx-5" v-text="groups.length + ' Gruppen'"></h2>
      <v-divider vertical></v-divider>
      <h2 class="mx-5" v-text="memberCount"></h2>
      <v-divider vertical></v-divider>
      <div class="mx-5">
        <AddGroupDialog @add-new-group="addNewGroup"/>
      </div>
      <v-spacer></v-spacer>
      <div class="mr-5">
        <Download :groups="groups"/>
      </div>
    </div>
  </v-container>
</template>

<script>
import Download from "@/components/file-converter/Dashboard/Download";
import AddGroupDialog from "@/components/file-converter/Dashboard/AddGroupDialog";

export default {
  name: "Dashboard",
  components: {Download, AddGroupDialog},
  props: ['groups'],
  computed: {
    memberCount() {
      let count = 0;
      this.groups.forEach(group => {
        count += group.members.filter(member => member.username !== undefined).length;
      });
      return count + ' Teilnehmer';
    }
  },
  methods: {
    addNewGroup(name) {
      this.$emit('add-new-group', name);
    }
  }
}
</script>

<style scoped>

</style>