<template>
  <v-btn class="pa-7 download-button" @click="setZoomExport"><h1>DOWNLOAD</h1></v-btn>
</template>

<script>
export default {
  name: "Download",
  inject: ['zoomMember'],
  props: {
    groups: {
      member: []
    }
  },
  methods: {
    setZoomExport() {
      this.groups.forEach(group => {
        group.members.forEach(member => {
          this.zoomMember.push([group.name, member.email]);
        })
      });
      let csv = ',Raumname vorgeben,E-Mail Adresse\n';
      this.zoomMember.forEach(row => {
        csv += row.join(',');
        csv += '\n';
      })
      let hiddenElement = document.createElement('a');
      hiddenElement.href = 'data:text/csv;charset=utf-8' + encodeURI(csv);
      hiddenElement.target = '_blank';

      hiddenElement.download = 'zoom.csv';
      hiddenElement.click();
      this.zoomMember.splice(0, this.zoomMember.length);
    }
  }
}
</script>

<style scoped>
.download-button {
  background-color: #3e9cbf !important;
  color: white;
}
</style>