<template>
  <v-app>
    <Toolbar/>
    <v-main>
      <drop-zone v-if="!file.content" @uploadSuccess="processFile"/>
      <file-converter v-else :file="file" @removeFile="removeFile"/>
    </v-main>
    <Footer/>
  </v-app>
</template>

<script>
import DropZone from "@/components/DropZone";
import FileConverter from "@/components/file-converter/FileConverter";
import Footer from "@/components/Footer";
import Toolbar from "@/components/Toolbar";


export default {
  name: 'App',
  components: {
    Toolbar,
    DropZone,
    FileConverter,
    Footer,
  },
  data: () => ({
    file: {
      name: '',
      content: null
    }
  }),
  methods: {
    processFile(raw) {
      this.file.name = raw.name;
      this.file.content = raw.file;
      this.remove = false;
    },
    removeFile() {
      this.file.name = '';
      this.file.content = null;
    }
  }
};
</script>