<template>
  <div class="text-center">
    <v-dialog
        v-model="dialog"
        width="500"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn v-bind="attrs" v-on="on" class="add-button ma-2" dark fab x-small>
          <v-icon dark>mdi-plus</v-icon>
        </v-btn>
      </template>

      <v-card>
        <v-card-title class="headline">
          Teilnehmer hinzufügen
        </v-card-title>
        <v-divider></v-divider>

        <v-row class="my-3" justify="center">
          <v-radio-group v-model="role" mandatory row>
            <v-radio color="#f2c43d" label="Trainer" value="trainer"></v-radio>
            <v-radio color="#3e9cbf" label="Student" value="student"></v-radio>
          </v-radio-group>
        </v-row>

        <v-form v-model="valid">
          <v-container>
            <v-row class="mx-5" justify="space-around">
              <v-text-field v-model="participant.firstName" class="mr-4" label="Vorname"></v-text-field>
              <v-text-field v-model="participant.lastName" label="Nachname"></v-text-field>
            </v-row>
            <v-row class="ma-5" justify="center">
              <v-text-field v-model="participant.email" :rules="emailRules" label="E-Mail" required></v-text-field>
            </v-row>
          </v-container>
        </v-form>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="add-button" @click="dialog = false">abbrechen</v-btn>
          <v-btn :disabled="!valid" class="add-button" @click="submit">hinzufügen</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>

export default {
  name: "AddMemberDialog",
  props: ['id'],
  data: () => ({
    dialog: false,
    valid: false,
    participant: {
      firstName: '',
      lastName: '',
      email: ''
    },
    emailRules: [
      v => !!v || 'E-Mail wird benötigt',
      v => /.+@.+/.test(v) || 'E-Mail muss valide sein!'
    ],
    role: '',
  }),
  methods: {
    async submit() {
      this.$emit('add-new-participant', this.participant, this.role, this.id);
      this.dialog = false;
    }
  }
}
</script>

<style scoped>
.add-button {
  background-color: #3e9cbf !important;
  color: white;
}
</style>