<template>
  <v-container>
    <v-row justify="start">
      <v-btn fab icon @click="deleteGroup">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <AddMemberDialog :id="group.id" @add-new-participant="submit"></AddMemberDialog>
    </v-row>
    <v-card-title class="pt-0">{{ group.name }}</v-card-title>
    <v-row>
      <draggable :emptyInsertThreshold="500" group="group">
        <v-list v-for="(member, i) in group.members" :key="i">
          <div
              :style="{'background-color': member.username === 'trainer' ? '#f2c43d' : '#3e9cbf'}"
              class="name-container">
            <v-list-item-title class="d-flex mx-3" style="cursor: pointer"><strong>{{ member.firstName }}
              {{ member.lastName }}</strong>
              <v-icon class="ml-2" color="white" small @click="removeMember(i)">mdi-delete</v-icon>
            </v-list-item-title>
          </div>
        </v-list>
      </draggable>
    </v-row>
  </v-container>
</template>

<script>
import draggable from 'vuedraggable';
import AddMemberDialog from "@/components/file-converter/Groups/AddMemberDialog";

export default {
  name: "Group",
  components: {
    draggable,
    AddMemberDialog
  },
  props: {
    group: {
      id: String,
      name: String,
      members: []
    }
  },
  methods: {
    removeMember(key) {
      this.$emit('remove-member', {id: this.group.id, index: key});
    },
    submit(participant, role, id) {
      this.$emit('add-new-participant', participant, role, id);
    },
    deleteGroup() {
      this.$emit('delete-group', this.group.id);
    }
  }
}
</script>

<style scoped>
.name-container {
  display: inline-block;
  background-color: #3e9cbf;
  color: white;
  border-radius: 5px;
  margin-left: 1rem;
}
</style>