<template>
  <v-container>

    <v-row justify="center">
      <v-card v-for="(group, i) in groups" :key="i" class="mr-5 mt-5" outlined shaped width="20rem">
        <Group :group="group" @remove-member="deleteMember" @delete-group="deleteGroup" @add-new-participant="submit"/>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
import Group from "@/components/file-converter/Groups/Group";


export default {
  name: "GroupList",
  components: {
    Group
  },
  props: {
    groups: {
      member: []
    }
  },
  methods: {
    deleteMember(obj) {
      this.$emit('remove-member', obj);
    },
    submit(participant, role, id) {
      this.$emit('add-new-participant', participant, role, id);
    },
    deleteGroup(id) {
      this.$emit('delete-group', id);
    }
  }
}
</script>

<style scoped>

</style>